<nav class="header">
    <ul>
        <a class="nav-header">Blogs</a>
        <li class="nav-link">
            <a class="nav-main-li" routerLink="/post" >Post</a>
        </li>
        <li class="nav-link">
            <a class="nav-main-li">owais</a>
        </li>
        <form class="nav-form">
            <input type= "search" class=" search-input" />
            <button class="login-button" routerLink="/login" >LOGIN</button>

        </form>

        
    </ul>

</nav>
<router-outlet></router-outlet>