<div>
    
      <div class="card col-11 mx-auto" style="width: 18rem; display: inline-block; margin: 20px; text-align: center;" *ngFor="let card of cards; let i =index" >
        <img src='' class="card-img-top col-12      " alt="...">
        <div class="card-body">
          <h5 class="card-title">{{card.name}}</h5>
          <p class="card-text" >{{card.point}}</p>
          <a  class="btn btn-primary" (click)='onEmpCreate()'>Go somewhere</a>
        </div>
      </div>
      <input type="text" [(ngModel)]= 'description' />
      <input type="checkbox" [(ngModel)] ='isChecked' [checked]='isChecked' />
      <div *ngFor='let todo of empList'>
        <p>{{todo.desription}}</p>
        <p>{{todo.isChecked}}</p>

      </div>
</div>